<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <title>About Page</title>
  </head>
  <body>
    {{> header }}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloremque dolores ea, eos in iste officiis quasi quis sequi soluta tempora, temporibus vel voluptatem. Aperiam earum esse inventore laudantium praesentium?</p>

    {{> footer }}
  </body>
</html>